[Unit]
 Description=rPi Datalogger
 After=graphical.target 

 [Service]
 Type=idle
 ExecStart=/usr/bin/python3 /home/pi/Desktop/rpi_production.py

 [Install]
 WantedBy=graphical.target